
.blocks {
  list-style: none;
  padding-left: 30px;

  .title {
    padding: 15px 25px 5px 0;
    font-size: 20px;
    font-weight: 700;
    color: #2DAAB8;
    font-family: "Rajdhani", sans-serif;
  }
}