.block {
  h4 {
    margin-bottom: 5px;
  }

  progress {
    width: 100%;

    &::-webkit-progress-bar {
      background-color: transparent;
      height: 10px;
    }

    &::-webkit-progress-value {
      border-radius: 30px;
      transition: width 1s;

    }
  }
}