@use '../../media/media' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-family: 'Poppins', sans-serif;

}

body {
  background: #EFF1F7;
}

.app {
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-rows: 130px 1fr;

  @include tablet {
    grid-template-columns: 1fr;
  }
  @include mobile {
    grid-template-columns: 1fr;
  }

}