.authForm {
  form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    width: 600px;
    margin: 200px auto;
    gap: 30px;
    border-radius: 5px;

    div {
      input {
        border-radius: 5px;
        border: 1px black solid;
        padding: 5px;
        width: 400px;
        outline: none;
        display: block;

        &:disabled {
          cursor: not-allowed;
        }
      }

      label {
        color: #999;
        font-size: 18px;

        span {
          color: red;
          font-weight: bold;
        }
      }
    }

    input[type=submit] {
      border-radius: 5px;
      border: 1px black solid;
      padding: 5px;
      width: 300px;
      margin-bottom: 25px;
      transition: background-color .3s;
      cursor: pointer;

      &:hover {
        color: white;
        background-color: black;
      }

      &:active {
        color: white;
        background-color: black;
        opacity: .5;
      }

      &:disabled {
        background-color: gray;
        color: white;
        cursor: not-allowed;
        opacity: 1;
      }
    }
  }
}


