@use 'src/media/media' as *;

.authForm {
  form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    width: 500px;

    margin: 200px auto;
    gap: 30px;
    border-radius: 10px;
    @include media(mobile, tablet) {
      width: 300px;
    }

    div {
      input {
        border-radius: 5px;
        border: 1px black solid;
        padding: 5px;
        width: 400px;
        outline: none;
        display: block;
        @include media(mobile, tablet) {
          width: 200px;
        }

        &:disabled {
          cursor: not-allowed;
        }
      }

      label {
        color: #999;
        font-size: 18px;

        span {
          color: red;
          font-weight: bold;
        }
      }
    }
  }
}


