@use 'src/media/media' as * ;

.sideBar {
  position: fixed;
  top: 0;
  height: 100vh;
  background: #ffffff;
  z-index: 10;
  @include media(pc,laptop){
    grid-column: 1/2;
    grid-row: 1/3;
  }
  @include media(tablet,mobile){
    transition: left .6s;
    &[data-status=true] {
      left: 0;
      .toggleArrow {
        transform: rotate(-90deg);
      }
    }
    &[data-status=false] {
      left: -270px;

      .toggleArrow {
        transform: rotate(90deg);
      }
    }
    .toggleArrow {
      position: absolute;
      top: 50%;
      right: -30px;
      width: 35px;
      height: 35px;
      transition: all .6s;
      cursor: pointer;
    }
  }
}