@use 'src/media/media' as * ;

.profile {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  background: white;
  border-radius: 10px;
  padding: 30px;

  @include media(tablet,mobile){
    flex-direction: column;
  }
}