@use 'src/media/media' as * ;

.logo {
  box-sizing: border-box;
  padding: 30px;
  margin: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #676B84;

  img {
    width: 42px;
  }

  p {
    font-size: 24px;
  }

  @include media(tablet, mobile) {
    padding: 5px 30px;
    margin: 5px 30px;
    justify-content: center;
  }
}
