.logo {
  box-sizing: border-box;
  padding: 30px;
  margin: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #676B84;
}

.logo img {
  width: 42px;
}

.logo p {
  font-size: 24px;
}