$breakpoint_mobile: 566px;

$breakpoint_tablet_max: 1026px;
$breakpoint_tablet_min: 480px;

$breakpoint_laptop_max: 1549px;
$breakpoint_laptop_min: 1027px;

$breakpoint_pc: 1550px;


@mixin pc() {
  @media (max-width: $breakpoint_pc) {
    @content
  }
}

@mixin laptop() {
  @media (min-width: $breakpoint_laptop_min) and (max-width: $breakpoint_laptop_max) {
    @content
  }
}

@mixin tablet() {
  @media (min-width: $breakpoint_tablet_min) and (max-width: $breakpoint_tablet_max) {
    @content
  }
}

@mixin mobile() {
  @media (max-width: $breakpoint_mobile) {
    @content
  }
}

@mixin media($keys...) {
  @each $key in $keys {
    @if ($key == mobile) {
      @include mobile {
        @content
      }
    }
    @if ($key == tablet) {
      @include tablet {
        @content
      }
    }
    @if ($key == laptop) {
      @include laptop {
        @content
      }
    }
    @if ($key == pc) {
      @include pc {
        @content
      }
    }
  }
}